{% extends "layout.html" %}
{% block title %}
    <title>Add an owner</title>
{% endblock %}
{% block content %}
<div class="jumbotron shadow rounded">
    <h1>Add an owner</h1>
    <hr>
    <p>Fill the form here below to add an owner to a puppy</p>
        <form class="form-group" method="POST">
            {{form.hidden_tag()}}
            {{form.owner_name.label}}{{form.owner_name(class="form-control shadow-sm", placeholder="Owner's name", style="width: 50%")}}
            <br>
            {{form.pup_id.label}}{{form.pup_id(class="form-control shadow-sm", placeholder="Pup's ID", style="width: 50%")}}
            <br>
            {{form.submit(class="btn btn-dark shadow-sm")}}
    </form>
</div>
{% endblock %}