{% extends "layout.html" %}
{% block title %}
    <title>Welcome</title>
{% endblock %}
{% block content %}
<div class="jumbotron shadow rounded">
    <h1>Welcome</h1>
    <hr>
    <p>This page has been made to find a home for some puppies.</p>
    <ul>
        <li>If you want to set a puppy for adoption, click on <strong>Add a pup</strong></li>
        <li>If you want to see the adoptable puppies, click on <strong>List puppies</strong></li>
        <li>If you want to remove a puppy from the adoption list, click on <strong>Delete a pup</strong></li>
        <li>If you want to add an owner to a puppy, click on <strong>Add an owner</strong></li>
    </ul>
</div>
{% endblock %}